@import "../../style//index.scss";

.filter_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  > .title {
    width: 93%;
    margin: 0 auto;
    > h4 {
      margin-bottom: 11px;
      font-family: SFProDisplayRegular;
      letter-spacing: 1.3px;
      font-weight: 200;
      font-size: 20px;
      color: $graytext;
      line-height: 23.87px;
    }

    > .line {
      margin-bottom: 36px;
      height: 1px;
      width: 100%;
      background-color: $graytext;
    }
  }
  > .dropdown {
    width: 93%;
    margin-bottom: 12.5px;

    > .btn_ {
      background-color: $background;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > button {
        width: 100px;
        border: none;
        outline: none;
        color: $white;
        background-color: transparent;
        text-align: left;
        font-family: SFProDisplayRegular;
        font-size: 16px;
        letter-spacing: 1.2px;
        // &::first-letter {
        //   text-transform: capitalize;
        // }
      }
      > svg {
        color: $graytext;
        font-size: 18px;
      }
    }
    > .drop_container {
      overflow: hidden;
      transition: all 0.3s;
      height: 0;
      background-color: $background;
      position: relative;
      top: -4px;

      > .wrap {
        > ul {
          list-style: none;
          width: 100%;
          > li {
            padding: 10px;
            transition: all 0.3s;
            font-family: SFProDisplayRegular;
            font-size: 13px;
            letter-spacing: 1.2px;
            width: 100%;
            // &::first-letter {
            //   text-transform: capitalize;
            // }
            &:hover {
              background-color: $Darkbackground;
            }
          }
        }
      }
    }
  }
}
